.search-list-container {
  width: 100%;
  min-height: 550px;
  height: 420px;
  /* background: rgba(0, 0, 255, 0.289); */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.search-list-container .search-list-cards {
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 20px;
}
.search-list-container .search-list-cards img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}
.search-list-container .search-list-cards h2 {
  font-size: 18px;
  font-weight: 400;
}
