.search-container {
  max-width: 450px;
  width: 90%;
  height: 650px;
  /* background: beige; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.search-list-container {
  width: 100%;
  /* min-height: 550px;
  height: 420px; */
  /* background: rgba(0, 0, 255, 0.289); */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
}
